.edit-page {
  width: 500px;
  padding: 15px;
  margin: 60px auto;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.edit-page input {
  padding: 10px;
  margin: 10px auto;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
  text-align: center;
  width: 480px;
  height: 50px;
  border: 0;
  font-size: 23px;
}

.edit-page button {
  width: 50px;
  height: 40px;
  border-radius: 8px;
  border: 1px solid #ddd;
  box-shadow: 0 4px 5px rgba(0, 0, 0, 0.1);
  text-align: center;
  color: aquamarine;
  background-color: blue;
  margin-right: 10px;
  cursor: pointer;
}
input:focus {
  outline: none;
}

.photo img {
  width: 400px; /* 원하는 너비 */
  height: auto; /* 원하는 높이 */
  object-fit: contain; /* 이미지 비율 유지하며 내용이 잘리지 않도록 */
}
