/* src/assets/styles/HomePage.css */
.home-page {
    max-width: 1200px; /* 최대 너비 설정 */
  margin: 0 auto; /* 가운데 정렬 */
  padding: 0 20px; /* 내부 여백 */
    
}

.post-list {
    display: grid;
  grid-template-columns: repeat(3, 1fr); /* 한 줄에 3개의 컬럼 */
    
}

.post-card {
    width: 300px;
    padding: 15px;
    margin: 10px;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.post-card h2 {
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.post-card p {
    font-size: 1rem;
    color: #555;
}

.post-card a {
    display: block;
    margin-top: 10px;
    color: #007bff;
    text-decoration: none;
}
