/* src/assets/styles/PostDetailPage.css */
.postDetailPage {
  width: 500px;
  padding: 15px;
  margin: 60px auto;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.postDetailPageTitleBox {
  border: 0.5px solid gray;
  border-radius: 8px;
  text-align: center;
  font-size: 2rem;
  margin-bottom: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.postDetailPageTitle {
  background-color: gray;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  font-size: 25px;
  border-radius: 8px;
  margin-top: 0px;
  margin-bottom: 0px;
  padding: 5px;
  color: white;
}

.postDetailPageTitleName {
  font-size: 25px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.postNameCreated {
  display: flex;
  gap: 5px;
}

.postNameBox {
  display: flex;
  border: 0.5px solid black;
  border-radius: 10px;
  width: 250px;
}

.postName {
  display: flex;
  justify-content: center; /* 수평 정렬 */
  align-items: center; /* 수직 정렬 */
  width: 75px;
  background-color: gray;
  color: white;
  border-radius: 10px;
  border: 0.5px solid gray;
  margin-top: 0px;
  margin-bottom: 0px;
  text-align: center;
}

.postRealName {
  width: 155px;
  text-align: center;
}

.postCreatedBox {
  display: flex;
  border-radius: 10px;

  border: 0.5px solid black;
  width: 250px;
}

.postCreated {
  display: flex;
  justify-content: center; /* 수평 정렬 */
  align-items: center; /* 수직 정렬 */
  width: 75px;
  border-radius: 10px;
  color: white;
  background-color: gray;
  border: 0.5px solid gray;
  margin-top: 0px;
  margin-bottom: 0px;
  text-align: center;
}

.postRealCreated {
  width: 155px;
  text-align: center;
}

.postImgBox img {
  max-width: 100%; /* 부모 크기를 넘지 않도록 */
  border: 0.5px solid gray;

  height: auto; /* 가로 비율 유지 */
}

.postEditDeleteButton {
  display: flex;
  justify-content: center;
  text-align: center;
}

.postEditButton,
.postDeleteButton {
  justify-content: center;
  width: 150px;
  height: 40px;
  border-radius: 8px;
  border: 1px solid #ddd;
  box-shadow: 0 4px 5px rgba(0, 0, 0, 0.1);
  text-align: center;
  color: white;
  background-color: gray;
  margin-right: 10px;
  cursor: pointer;
}

.hrBar {
  margin-bottom: 10px;
}
